@font-face {
  font-family: "mkt"; /* Project id 4289350 */
  src: url('iconfont.woff2?t=1700477264709') format('woff2'),
       url('iconfont.woff?t=1700477264709') format('woff'),
       url('iconfont.ttf?t=1700477264709') format('truetype'),
       url('iconfont.svg?t=1700477264709#mkt') format('svg');
}

.mkt {
  font-family: "mkt" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkt-cart:before {
  content: "\e605";
}

.mkt-circle-check:before {
  content: "\e604";
}

.mkt-search:before {
  content: "\e603";
}

.mkt-arrow-bold-up:before {
  content: "\e6b6";
}

.mkt-arrow-bold-right:before {
  content: "\e6b7";
}

.mkt-arrow-bold-left:before {
  content: "\e6b8";
}

.mkt-arrow-bold-down:before {
  content: "\e635";
}

.mkt-arrow-right:before {
  content: "\e694";
}

.mkt-arrow-up:before {
  content: "\e6b3";
}

.mkt-arrow-down:before {
  content: "\e6b4";
}

.mkt-arrow-left:before {
  content: "\e6b5";
}

.mkt-close-circle:before {
  content: "\e616";
}

.mkt-menu:before {
  content: "\e65a";
}

.mkt-cc-user:before {
  content: "\e6af";
}

.mkt-suo:before {
  content: "\e64a";
}

.mkt-user:before {
  content: "\e602";
}

.mkt-bag:before {
  content: "\e649";
}

.mkt-lightning:before {
  content: "\e601";
}

.mkt-close:before {
  content: "\e600";
}

